doctype xml
feed(xmlns='http://www.w3.org/2005/Atom')
title= meta.title
link(href='http://example.org/feed.atom', rel='self')
link(href='http://example.org/')
id http://example.org/
author
    name Stijn Debrouwere
    email stijn@example.org
- each post in context
    entry
        title= post.meta.title
        // #{post.hector.permalink}
        link(href='http://example.org/')
        updated= post.meta.date
        content(type='html')= post.content